$main-color: #00FE22;
$background-color: #111119;
$grid-border-width: 10px;

.board {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem;

    transition: all 1s ease;

    width: fit-content;

    .tile {
        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 9vw;
        height: 9vw;
        min-width: 100px;
        min-height: 100px;

        text-align: center;
        font-size: 2rem;

        img {
            min-width: 80%;
            min-height: 80%;
        }

        &:nth-child(1) {
            border-right: $grid-border-width solid $main-color;
            border-bottom: $grid-border-width solid $main-color;
        }

        &:nth-child(2) {
            border-bottom: $grid-border-width solid $main-color;
        }

        &:nth-child(3) {
            border-left: $grid-border-width solid $main-color;
            border-bottom: $grid-border-width solid $main-color;
        }

        &:nth-child(4) {
            border-right: $grid-border-width solid $main-color;
        }

        &:nth-child(6) {
            border-left: $grid-border-width solid $main-color;
        }

        &:nth-child(7) {
            border-top: $grid-border-width solid $main-color;
            border-right: $grid-border-width solid $main-color;
        }

        &:nth-child(8) {
            border-top: $grid-border-width solid $main-color;
        }

        &:nth-child(9) {
            border-left: $grid-border-width solid $main-color;
            border-top: $grid-border-width solid $main-color;
        }
     }
}