.board {
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    width: fit-content;

    .tile {
        border: 1px solid black;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 9vw;
        height: 9vw;
        min-width: 100px;
        min-height: 100px;

        text-align: center;
        font-size: 2rem;

        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}